html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    max-width: 550px;
    max-height: 300px;
    margin: 40 auto;
    overflow-x: auto;
    border: solid 1px;
    border-color: rgb(173, 169, 169);
    box-shadow: 2px 2px 8px #ccc;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Unbounded', cursive;
    background-image: url("img/wallpaper.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.header {
    font-weight: bold;
    font-size: 28px;
    margin: 15px;
    border: solid 1px;
    border-color: rgb(173, 169, 169);
    border-radius: 5px;
    background-color: rgb(214, 233, 214);
    box-shadow: 2px 2px 8px #ccc;
    
}

.form__label {
    display: inline-block;
    padding: 10px;
    text-shadow: 2px 2px 8px #ccc;
    
}

.form__field {
    text-transform: uppercase;
    border-radius: 5px;
    border:none;
    border-color: rgb(173, 169, 169);
    box-shadow: 2px 2px 8px #ccc;
    transition-duration:500ms
}

.form__field:hover {
    transform: scale(103%);
}

.form__button {
    text-transform: uppercase;
    cursor: pointer;
    margin:10px;
    padding: 5px;
    border: solid 1px;
    border-color: rgb(173, 169, 169);
    border-radius: 5px;
    background-color: rgb(214, 233, 214);
    box-shadow: 2px 2px 8px #ccc;
    transition-duration:500ms;
    
}

.form__button:hover {
    transform: scale(105%);
}

.form_info {
    font-size: 10px;
}

.footer {
        font-size: 10px;
        color: rgb(128, 128, 128);
        border: solid 1px;
        border-color: rgb(173, 169, 169);
        border-radius: 5px;
        background-color: rgb(214, 233, 214);
    }
